#messages {
  width:600px;
  height:200px;
  background:#DDD;
  overflow:scroll;
}

#commands {
  width:600px;
  height:100px;
  background:#DDD;
  overflow:scroll;
}

#errors {
  width:200px;
  height:200px;
  background:#DDD;
  overflow:scroll;
}

#error-box {
  float:left;
}

#message-box {
  float:left;
}

#command-box {
  float:left;
}

#post-button {
  width:94px;
}

#post-text {
  width:500px
}

