#main {
  width:800px;
  margin-left:50%;
  position:absolute;
  left:-400px;
}

#messages {
  width:600px;
  height:200px;
  background:#DDD;
  overflow:scroll;
}

#peers {
  width:200px;
  height:223px;
  background:#DDD;
  overflow:scroll;
}

#commands {
  width:600px;
  height:150px;
  background:#DDD;
  overflow:scroll;
}

#errors {
  width:200px;
  height:173px;
  background:#DDD;
  overflow:scroll;
}

#top {
  height:30px;
}

#execute-form {
  float:left;
}

#tabber-div {
  float:left;
}

.tabber-tab[data-active="1"] {
  background-color:lightgreen;
  color:#000;
}

.tabber-tab[data-active="0"] {
  color:#DDD;
  background:#000;
}

#debug-box {
  height:10px;
}
#debug-box:hover {
  height:200px;
}

#main-box {
  top:100px;
}

#error-box {
  float:left;
}

#message-box {
  float:left;
}

#peer-box {
  float:left;
}

#command-box {
  float:left;
}

#post-button {
  width:94px;
}

#post-text {
  width:500px
}

#addC-img {
  width:13px;
  height:auto;
}
